* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    scroll-behavior: smooth;
}

.nav-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.15);
}

.nav-bar {
    max-width: 100%;
    height: 10vh;
    background: rgba(252, 252, 252, 0.718) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 10px;
    transition: 350ms ease-in-out;

}

.nav-bar:hover {
    transition: 350ms ease-in-out;
    background: rgba(252, 252, 252, 1) !important;

}

.nav-link ul li {
    display: inline-block;
    padding: 25px;
    list-style: none;
}

.nav-link ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: 350ms ease-in-out;
}

.nav-link ul li a:hover {
    /* font-size: 18px; */
    font-weight: bold;
    transition: 350ms ease-in-out;

}

.home-landing {
    max-width: 100%;
    height: 810px;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(home-bg.png), lightgray 60% / cover no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.line-holder {
    display: flex;
    justify-content: center;
}

.divider-line {
    width: 415px;
    height: 3px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #353535;
}

.home-landing h1 {
    font-size: 50px;
}

.home-landing button {
    width: 178px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: transparent;
    transition: 350ms ease-in-out;
    color: white;
}

.home-landing button:hover {
    width: 178px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    color: black;
    background: #FFF;
    box-shadow: -2px 17px 13px 0px rgba(0, 0, 0, 0.25);
    transition: 350ms ease-in-out;
}

.home-about-wrapper {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bg-img {
    background-image: url(/sec-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content-wrapper2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;


}

.text-holder {
    padding-left: 50px;
    padding-right: 50px;
}

.image-holder {
    height: 500px;
    width: 600px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 4px 13px 0px rgba(0, 0, 0, 0.25);
    background-image: url(about-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.normal-para {
    padding-top: 10px;
    padding-left: 5px;
    font-size: 16px;
    line-height: 26px;
}

.sub-heading {
    font-size: 40px;
    color: #000000;
}

.sub-heading2 {
    margin-right: 5px;
    margin-top: 25px;
    font-size: 30px;
    color: #000000;
    line-height: 22px;
}

.cards {
    margin-top: 50px;
    width: 500px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.35);
}

.extra {
    height: 100vh;
}

.img-one {
    background-image: url(home-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.img-two {
    background-image: url(sam1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.img-three {
    background-image: url(/kitchen\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-four {
    background-image: url(/7.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Footer section code */

footer {
    max-width: 100%;
    height: 35vh;
    background-color: #000000;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    color: #dedede;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    filter: invert();
}

.footer-links {
    padding-left: 50px;
}

.footer-links a {
    display: flex;
    color: #dedede;
    font-size: 14px;
    text-decoration: none;
}

.footer-links a:hover {
    display: flex;
    color: #ffffff;
    font-size: 14px;
    text-decoration: underline;
}

.company-address {
    color: #dedede;
    font-size: 14px;

}

.social-media-links img {

    transition: 350ms ease-in-out;
    filter: invert();
    cursor: pointer;
}

.social-media-links img:hover {
    transition: 350ms ease-in-out;
    filter: invert();
}

.map {
    margin-left: 40px;
}

.map iframe {
    border-radius: 10px;
}